.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dot {
  margin: 2px;
  width: 40px;; 
  height: 40px;
  border-radius: 50%;
  display: inline-block;
 }

 .buttonDot {
  margin: 2px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-block
 }

 #buttons {
  display: flex;
 }

 #reset-delete {
  display: flex;
  flex: 1;
  flex-direction: column;
 }

 #buttons button {
  margin: 1px;
  background-color: rgb(224, 224, 224);
  border: 0px solid white;
 }

 #buttons button:hover {
  background-color: rgb(205, 205, 205);
 }

 #enter {
  flex: 2;
 }


 .peg {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid gray;
  display: inline-block;
 }

 #res {
  display:flex;
  flex-direction: column;
 }

 #main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
 }

 :root {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

 #player {
  border-radius: 1%;
  padding: 15px;
  display:flex;
  flex-direction: column;
  flex: 1 1 100%;
 }

 #guesses {
  display: flex;
  flex-direction: column;
  align-items: center;
 }
 #table {
  flex: 3;
 }

 h1 {
  text-align: center;
 }
